.Order {
	width: 90%;
	border: 1px solid #eee;
	padding: 10px;
	margin: 10px auto;
	box-shadow: 0 2px 3px #ccc;
	box-sizing: border-box;
}

.Ingredient {
	text-transform: capitalize;
	display: inline-block;
	margin: 0 8px;
	padding: 5px;
	border: 1px solid #ccc;
}