.NavBarItem {
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.NavBarItem a {
	height: 100%;
	padding: 16px 10px;
	color: white;
	text-decoration: none;
	border-bottom: 4px solid transparent;
	box-sizing: border-box;
	display: block;
}

.NavBarItem a:hover,
.NavBarItem a:active,
.NavBarItem a.Active {
	background-color: #8F5C2C;
	border-bottom: 4px solid #40A4C8;
	color: white;
}